#mainNav .navbar-brand {
  color: #ffff;
  font-family: Helvetica, "Roboto", sans-serif !important;
}
body {
  font-family: "Roboto", sans-serif;
}
#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #00587a;
  font-family: "Roboto", sans-serif !important;
}

.fa.fa-lock.fa-stack-1x.fa-inverse {
  background-color: #00587a;
}
.intro-text {
  color: #000;
}
.masthead {
  background-image: url("/assets/img/about/hero2.png");
}

.text-primary {
  color: #00587a !important;
}

.navbar-brand.active,
.navbar-brand:active,
.navbar-brand:focus,
.navbar-brand:hover {
  color: rgb(250, 250, 250) !important;
}
.navbar-brand {
  color: #ff4d7e;
}
#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #ffff;
  font-size: 100%;
  /*background-color: #ffff;*/
  font-weight: 800;
  box-sizing: content-box;
  border-radius: 30px;
}

.btn-primary {
  background-color: #ff4d7e !important;
  /*border-color: #fec810!important;*/
  color: #fff;
  border: none;
  border-radius: 20px;
}

/* ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #fed136;
} */

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: #10a0ff;
  /*background-color: red;*/
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  transition: all 0.3s;
  color: #fff;
  border-radius: 100%;
  outline: none;
  background-color: #ff4d7e;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(134, 195, 255, 0.5);
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  box-shadow: 0 0 0 0.2rem rgba(134, 195, 255, 0.5);
  background-color: #10a0ff !important;
  /*border-color: #fec810!important;*/
  color: #fff;
  border: none;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  opacity: 0;
  background: rgba(0, 150, 255, 0.36);
  /* background: #188ef4; */
}
div.parent {
  text-align: center;
}
div.parent ul {
  display: inline-block;
  text-align: left;
  list-style: none;
}
::selection {
  background: rgba(134, 195, 255, 0.5);
  color: black;
}
a.active {
  border-radius: 20px;
  background-color: #ff4d7e;
}
.timeline > li .timeline-image {
  background-color: #cae8ff;
  color: black;
}
